@media screen and (max-width:490px) {
  .link {
    margin-left: 0px;
    padding: 0px;
  }

  .hero .hero-image {
    width: 200px;
  }

  .footer .footer-header {
    font-size: 20px;
  }

  .footer .footer-link-size img {
    font-size: 0.6rem;
    height: 30px;
    width: 30px;

  }

  .link-secondary {
    margin-left: 10px;
    padding: 10px;
  }

  .blog-link {
    padding: 10px;
  }

  .link-primary {
    width: 100%;
    padding: 10px 30px;
  }
}